<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DM hack</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bulma.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="width: 100%; background-color: hsl(0, 0%, 21%);">
  	<div class="navbar-item">
  		<h1 style="font-weight: bold; color: white">DMHACK</h1>
  	</div>
  	<div class="navbar-item" style="margin-left: auto">
  		<a class="button" href="/results" style="background-color: transparent; color: white">Leaderboard</a>
  	</div>
  </div>
</nav>
<% include hero %>
<div class="container">